<%- include("partials/header") -%>
    <div>
        <h1>Home</h1>
        <p>
            <%= homeContent %>
        </p>
        <% posts.forEach(function(post) {%>
            <h1>
                <%=post.title%>
            </h1>
            <p>
                <%= lodash.truncate(post.body,{'length':100,'separator': ' '})%> <span><a class="custom_link_theme" href="/posts/<%= post._id %> ">Read more.</a></span>
            </p>
            <% }); %>
    </div>

    <a href="/compose" class="float">
        <i class="fas fa-edit my-float"></i>
    </a>

    <%- include("partials/footer"); -%>