<%- include("partials/header") %>
    <h1>
        <%= post.title  %>
    </h1>
    <p>
        <%= post.body %>
    </p>
    <form action="/delete" method="post">
        <input type="hidden" name="deleteId" value="<%= post %> ">
        <button class="float" type="submit">
            <i class="fas fa-trash my-float"></i>
        </button>
    </form>
    <%- include("partials/footer") %>